{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link type="text/css" href="{% static 'contacts.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="authors">
        <div class="left">
            <img src="media/school.jpg" class="school-img">
        </div>
        <div class="middle">
            <h2 id="school-lb">Ecole H&ocirc;teli&egrave;re de Lausanne</h2>
        </div>
        <h2 id="team-lb">Team 35</h2>
        <div class="left">
            <img src="media/35team.png" class="team-img">
        </div>
        <div class="right names">
            <h3>Nicole Komm</h3>
            <h3>Daria Shilova</h3>
            <h3>Katie Erofeeva</h3>
            <h3>Stella Mirzoyan</h3>
            <h3>Lukas Hanimann</h3>
            <h3>St&eacute;phanie Cornet</h3>
        </div>
        <div class="clear"></div>
        <img src="media/metro.jpg" class="metro-img">
    </div>
{% endblock %}