{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link type="text/css" href="{% static 'contacts.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="authors">
        <h2 id="school">Ecole H&ocirc;teli&egrave;re Lausanne</h2>
        <h2 id="team">Team 35</h2>
        <h3>Nicole Komm</h3>
        <h3>Daria Shilova</h3>
        <h3>Katie Erofeeva</h3>
        <h3>Stella Mirzoyan</h3>
        <h3>Lukas Hanimann</h3>
        <h3>St&eacute;phanie Cornet</h3>
    </div>
{% endblock %}