
.container .content {
    margin-top: 90px;
}

.container .content .authors h2 {
    font-size: 0.8em;
    font-weight: 300;
}

.authors #school, .authors #team {
    margin-bottom: 10px;
}

.authors h3 {
    font-size: 0.8em;
    padding: 5px 0;
}