
.start-form {
    text-align: center;
    margin-top: 20px;
}

.start-form input {
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2em;
    background: inherit;
    cursor: pointer;
}

.start-form input:focus {
    outline: none;
}

.start-form input:hover {
    border-bottom: solid 2px #fff533;
    /* color: #fff533; */
}