
.add-inputs .add-item p {
    display: inline-block;
    width: 100px;
}

.add-inputs {
    margin: 40px 0 0 40px;
}

.add-inputs .add-item {
    font-size: 0.5em;
    font-weight: 100;
    margin-top: 14px;
}

.add-inputs .add-item input {
    font-size: 1.5em;
}
